@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root{
    --text-colour: #EDEDFF;
    --bg-colour: #19181e;
    --sc-colour: #292532;
    --pr-colour: #5C27CE;
    --ac-colour: #713DFF;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16;
}
body{
    background-color: var(--bg-colour);
}

::-webkit-scrollbar {
    width: 1.25vw;
}
::-webkit-scrollbar-track {
    background: var(--sc-colour);
}
::-webkit-scrollbar-thumb {
    background: var(--pr-colour);
    border: .25vw solid var(--sc-colour);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--ac-colour);
    border: .225vw solid var(--sc-colour);
    border-radius: 100vw;
}
@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: var(--pr-colour) var(--sc-colour);
    }
}

li, a, button, h1, p{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: var(--text-colour);
    list-style: none;
    text-decoration: none;
    background-color: var(--sc-colour);
}
h1{
    margin-bottom: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--sc-colour);
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
}
.logo{
    cursor: pointer;
    background-color: var(--bg-colour);
    height: 3.65rem;
    width: 3.65rem;
    padding: .25rem;
    border-radius: 50%;
    animation: fade-down 0.5s;
}
.logo:hover{
    background-color: var(--pr-colour);
}
.logosvg{
    fill: var(--pr-colour);
    transition: all 0.3s ease 0s;
}
.logo:hover .logosvg{
    fill: var(--bg-colour);
}
.nav__links{
    display: flex;
    gap: .25rem;
    background-color: var(--bg-colour);
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: var(--ac-colour);
}
button{
    padding: 9px 25px;
    background-color: var(--pr-colour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    animation: fade-down 0.5s;
}
button:hover{
    background-color: var(--ac-colour);
    box-shadow: 0 0 2rem var(--ac-colour);
    color: var(--bg-colour);
}
.main{
    margin: 0 3rem;
}
.div{
    background-color: var(--sc-colour);
    text-align: center;
    overflow: hidden;
    width: 100%;
    margin: 2rem 0;
    padding: 2.5rem;
    border-radius: 2rem;
}
.main .div .last{
    margin-top: 1rem;
}
.links{
    display: flex;
    justify-content: center;
}
.links li{
    list-style: none;
    text-align: center;
    display: inline;
    padding: 1rem;
}
.links li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.links li a .icon{
    transition: all 0.3s ease 0s;
    padding: .5rem;
}
.links li a:hover .icon{
    transform: scale(1.2);
}
.links li a .icon i{
    font-size: 5rem;
}
.mods{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    justify-content: center; 
}
.mods a{
    display: flex;
    border-radius: 2rem;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background-color: var(--bg-colour);
    transition: 0.5s;
    animation: fade-up 0.5s;
}
.mods a:hover{
    transform: translateY(-0.75rem);
}
.mods a div{
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    align-self: flex-end;
    text-align: left;
}

@media (orientation: portrait) {
    .nav__links li{
        padding: 0 5px;
    }
    header{
        padding: 10px 2.5%;
    }
    .main{
        margin: 1rem 1rem; 
    }
    .main .div{
        padding: 1rem;
        border-radius: 1rem;
    }
    .links li{
        padding: .25em;
    }
    .links li a{
        padding: 0;
    }
    .links li a .icon{
        padding: 1rem;
    }
    .links li a .icon i{
        font-size: 2rem;
    }
    .mods{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.75rem;
    }
    .mods a{
        border-radius: 1rem;
    }
    .mods a div{
        font-size: clamp(10px, 5vw, 20px);
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}
@media (width <= 431px) {
    header{
        padding: 10px 1%;
    }
    li, a, button, p{
        font-size: 13px;
    }
    h1{
        font-size: 24px;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        padding: .25rem;
    } 
    .logosvg{
        height: 2.5rem;
        width: 2.5rem;
    }
    .nav__links li{
        padding: 0 5px;
    }
    button{
        padding: 4.5px 12.5px;
    }
    .mods{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 0.5rem;
    }
    .mods a{
        border-radius: .75rem;
    }
    .mods a div{
        font-size: clamp(10px, 8vw, 17px);
        margin-left: .5rem;
        margin-bottom: .5rem;
    }
}
@media (height <= 701px) {
    header{
        padding: 5px 5%;
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(50px) scale(0.8);
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}