@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

:root{
    --text-colour: #EDEDFF;
    --bg-colour: #18161c;
    --pr-colour: #5C27CE;
    --sc-colour: #27262f;
    --ac-colour: #713DFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16;
}
body{
    background-color: var(--bg-colour);
}
li, a, button, h1, p{
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    color: var(--text-colour);
    list-style: none;
    text-decoration: none;
    background-color: var(--sc-colour);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--sc-colour);
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
}
.logo{
    cursor: pointer;
    background-color: var(--bg-colour);
    height: 3.65rem;
    width: 3.65rem;
    padding: .25rem;
    border-radius: 50%;
    animation: fade-down 0.5s;
}
.logo:hover{
    background-color: var(--pr-colour);
}
.logosvg{
    fill: var(--pr-colour);
    transition: all 0.3s ease 0s;
}
.logo:hover .logosvg{
    fill: var(--bg-colour);
}
.nav__links{
    display: flex;
    gap: .25rem;
    background-color: var(--bg-colour);
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: var(--ac-colour);
}
button{
    padding: 9px 25px;
    background-color: var(--pr-colour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    animation: fade-down 0.5s;
}
button:hover{
    background-color: var(--ac-colour);
    color: var(--bg-colour);
}

.main{
    display: flex;
    margin: 2rem 3rem;
    justify-content: center;
}
.main .div{
    background-color: var(--sc-colour);
    text-align: center;
    width: 100%;
    padding: 2.5rem;
    border-radius: 2rem;
}
.main .div h1{
    margin-bottom: 1rem;
}
.main .div .last{
    margin-top: 1rem;
}
.links{
    display: flex;
    justify-content: center;
}
.links li{
    list-style: none;
    text-align: center;
    display: inline;
    padding: 1rem;
}
.links li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.links li a .icon{
    transition: all 0.3s ease 0s;
    padding: .5rem;
}
.links li a:hover .icon{
    transform: scale(1.2);
}
.links li a .icon i{
    font-size: 5rem;
}
.projects{
    width: 100%;
    display: grid;
    padding-left: auto;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-auto-rows: 400px;
    gap: 1rem;
    justify-content: center; 
}
.projects a{
    background-color: var(--bg-colour);
    transition: 0.5s;
    animation: fade-up 0.5s;
}
.projects a:hover{
    transform: translateY(-0.75rem);
}
.projects-img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}
.projects a div{
    position: relative;
    font-size: 2rem;
    bottom: 4rem;
    left: 2rem;
}
.double-line{
    bottom: 6rem !important;
}

@media (orientation: portrait) {
    .nav__links li{
        padding: 0 5px;
    }
    header{
        padding: 10px 2.5%;
    }
    .main{
        margin: 1rem 1rem; 
    }
    .main .div{
        padding: 1rem;
        border-radius: 1rem;
    }
    .links li{
        padding: .25em;
    }
    .links li a{
        padding: 0;
    }
    .links li a .icon{
        padding: 1rem;
    }
    .links li a .icon i{
        font-size: 2rem;
    }
    .projects{
        grid-template-columns: repeat(auto-fit, 150px);
        grid-auto-rows: 150px;
        gap: 0.75rem;
    }
    .projects-img{
        border-radius: 1rem;
    }
    .projects a div{
        font-size: 1.25rem;
        bottom: 2.25rem;
        left: 0.5rem;
    }
    .double-line{
        font-size: 1rem !important;
        bottom: 4.75rem !important;
    }
    .overflow{
        bottom: 3.75rem !important;
    }
}
@media (width <= 431px) {
    header{
        padding: 10px 1%;
    }
    li, a, button, p{
        font-size: 13px;
    }
    h1{
        font-size: 24px;
    }
    .logo{
        height: 3rem;
        width: 3rem;
        padding: .25rem;
    } 
    .logosvg{
        height: 2.5rem;
        width: 2.5rem;
    }
    .nav__links li{
        padding: 0 5px;
    }
    button{
        padding: 4.5px 12.5px;
    }
    .projects{
        grid-template-columns: repeat(auto-fit, 100px);
        grid-auto-rows: 100px;
        gap: 0.5rem;
    }
    .projects-img{
        border-radius: 0.5rem;
    }
    .projects a div{
        font-size: 0.75rem;
        bottom: 1.5rem;
        left: 0.5rem;
    }
    .double-line{
        font-size: 0.5rem !important;
        bottom: 2rem !important;
    }
    .overflow{
        bottom: 2.5rem !important;
    }
}
@media (height <= 701px) {
    header{
        padding: 5px 5%;
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(50px) scale(0.8);
    }
    50%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-50px) scale(0.8);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}