@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500&display=swap');

:root{
    --text-colour: #EDEDFF;
    --bg-colour: #18161c;
    --pr-colour: #5C27CE;
    --sc-colour: #27262f;
    --ac-colour: #713DFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg-colour);
}
li, a, button{
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 16x;
    color: var(--text-colour);
    text-decoration: none;
    background-color: var(--sc-colour);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--sc-colour);
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
}
.logo{
    cursor: pointer;
    background-color: var(--bg-colour);
    height: 3.65rem;
    width: 3.65rem;
    padding: .25rem;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}
.logosvg{
    fill: var(--pr-colour);
    transition: all 0.3s ease 0s;
}
.logo:hover, .logo:hover .logosvg{
    background-color: var(--pr-colour);
    fill: var(--bg-colour);
}
.nav__links{
    list-style: none;
    background-color: var(--bg-colour);
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: var(--ac-colour);
}
button{
    padding: clamp(2px, 9px, 16px) 25px;
    background-color: var(--pr-colour);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: var(--ac-colour);
    color: var(--bg-colour);
}

@media (width <= 586px) {
    .nav__links li{
        padding: 0 5px !important;
    }
    header{
        padding: 10px 2.5%;
    }
}